body {
    background-color: #1B1919;
    color: #F5F1F1;
    font-family: "Andika", sans-serif;

}

.logo img {
    height: 2em;

}

.navbar {
 background-color: #26a1ac !important;

}
.nav-link {
    font-weight: 200;

}

footer {
    background-color: #317174;
}

footer i{

    min-height: 3em !important;
}


#Destacados {

    margin-left: 5em !important;
    margin-right: 5em !important;
}
   

  @media (max-width: 768px) {
    #Presentación {
      display: none;
    }

  }
  